data:
  data_dir: /home/zxd/zxd/Huawei/datasets/lora/ 
  stats_path: ./data/stats.pth
  num_workers: 8
  train_ratio: 0.9
  device: cuda:2
  token_size: 128
  cond_shape: [224, 512]
  original_shapes: 
    a1: [2, 64]
    b1: [2048, 2]
    a2: [2, 2048]
    b2: [64, 2]
  max_len: 66

resampler:
  latent_cond_len: 64
  hidden_dim: 768
  num_heads: 4
  depth: 4
  dropout: 0.1

diffusion:
  # Flow Matching 配置
  timesteps: 1000       # 仅用于时间缩放，保持与DiT编码一致
  snr_gamma: null       # 不使用 Min-SNR
  small_weight: 0.2     # 保持对小矩阵的加权

dit:
  num_heads: 8
  depth: 12
  mlp_ratio: 4.0
  dropout: 0.1

train:
  seed: 3407
  epochs: 100
  batch_size: 128
  weight_decay: 1e-4
  save_interval: 100
  val_interval: 10
  grad_clip: 1.0
  cfg_drop_rate: 0.1
  ema_rate: 0.999
  cond_noise_factor: 0.01

lr_scheduler:
  type: cosine_warmup
  max_lr: 5e-4
  warmup_ratio: 0.1
  start_lr: 1.0e-5
  eta_min: 1.0e-5

inference:
  use_ema: true
  config: exps/eps12/logs/config.yaml
  checkpoint_path: exps/eps6/ckpts/best.pth
  cond_path: /home/zxd/zxd/Huawei/datasets/lora/conditions/seed5/01105.pth
  cfg_scale: 1.0 # FM 通常不需要非常大的 CFG，1.0 (无引导) 或 1.5-2.0 即可
  inference_steps: 25 # Euler solver 步数
  output_dir: exps/eps6/inference

mode: train
exp_dir: exps/fm01 # 建议修改实验目录名

msg: "train flow matching first time"